@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);
 --Very-light-grayish-blue: hsl(210, 60%, 98%);
--Light-grayish-blue-1: hsl(211, 68%, 94%);
--Light-grayish-blue-2: hsl(205, 33%, 90%);
--Grayish-blue: hsl(219, 14%, 63%);
--Dark-grayish-blue: hsl(219, 12%, 42%);
--Very-dark-blue: hsl(224, 21%, 14%);

 
}
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
}

h1{

}
span{
  font-weight: bold;
  color: var(--Very-dark-blue);
}
span:hover{
  color: var(--Blue);
}